/*#main-canvas {
    width: 512px;
    height: 512px;
}*/

#cont {
    display: flex;
    flex-flow: column;
    width: 512px;
    gap: 0.5em 0;
}

.box {
    display: block;
    width: 512px;
    border: 1px solid gray;
    padding: 0.5em 0;
    text-decoration: none;
    text-align: center;
}

#notation {
    display: none;
    position: absolute;
    color: white;
    pointer-events: none;
}

#notifications {
    left: 1em;
    bottom: 0;
    width: 25%;
}

#notifications .item {
    padding: 0.5em;
    border: 1px solid gray;
    animation: erase 2s ease-out 0.5s forwards;
}

@keyframes erase {
    100% {
        opacity: 0;
    }
}

#notifications .success {
    background-color: #aaccaa;
    color: #004000;
}

#notifications .info {
    background-color: white;
    color: black;
}

#notifications .error {
    background-color: #ffcccc;
    color: red;
}

#body_indicator1 {
    display: none;
    position: absolute;
    outline: 1px solid white;
    pointer-events: none;
}

#body_indicator2 {
    display: none;
    position: absolute;
    outline: 1px solid gray;
    pointer-events: none;
}